.flex-container {
    text-align: center;
}

header {
  padding:10px;
}

footer{
  height: 20px;
  background: rgb(191, 216, 51);
  text-align: middle;
  font-size: 15px;
  color: black;
  padding: 20px;
}

body {
  margin: 20px;
  text-align: center;
  background: linear-gradient(rgb(191, 216, 51),rgb(235, 150, 135)); ;
  font-family:'Nova Square', cursive;
}

h1 {
  font-family:'Nova Square', cursive;
  font-size: 70px;
  color: rgb(0,162,138);
  margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

.button {
  margin: 1em 0 0.25em;
  padding: 5px;
  border-radius: 4px;
  background-color: rgb(236,151,135);
  opacity: .85;
  box-shadow: 0 3px #999;
}

.button:hover {
  background-color: rgb(142,60,54);
  transition: 0.3s;
  cursor: pointer;
}

.button:active {
  background-color: rgb(142,60,54);
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

table,
tr,
td {
  border: 1px solid black;
  table-layout:fixed;
}

table {
  table-layout:fixed;
  border-collapse: collapse;
  margin: 20px auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

.td {
  opacity:50;
}

.canvas:hover{
  cursor: pointer;
}

input[type=number] {
    width: 6em;
}

.cellCl:hover {
  border: 2px solid black;
}

.turnedOn{
  background-color: rgb(142,60,54);
  box-shadow: 0 1px #666;
}
